* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  font-family: "Montserrat", sans-serif;
  color: #fff;
  /* background-color: #383882;    */

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background: linear-gradient(45deg, #FC466B, #3F5EFB);*/
  /* background-position: 100% 100%; */
  /* animation: gradient 1s ease infinite; */

  background: linear-gradient(90deg, #3f59f5, #fc466b);
  overflow: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: white;
}

.quizSection {
  overflow-y: hidden;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz__main {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
  backdrop-filter: blur(10px);

  width: 50%;
  min-height: 400px;
  margin: 0 auto;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quizSection p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}
.quizSection h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}
.quizSection i {
  vertical-align: bottom;
  margin-right: 5px;
}
.quiz__header {
  padding: 1.5rem 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.quiz__body {
  /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem; */
  padding: 2.5rem 3.25rem;
  min-height: 140px;
}
/* .quiz__body--text{
    grid-template-columns: repeat(1, minmax(0, 1fr));
} */
.quiz__footer {
  padding: 1rem 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quiz__current {
  margin: 0;
  font-size: 1rem;
  margin-right: 1rem;
  color: #fff;
}

.quiz__btn {
  background: transparent;
  box-shadow: 4px 4px 60px rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s all;
}
.quiz__btn:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
  text-decoration: none;
  color: white;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #e73c7e;
  background-color: #e73c7e;
  box-shadow: none;
}
.form-control {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}
.form-control:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 20px 2px rgb(0 0 0 / 10%);
  color: white;
}

#score {
  font-size: 2.5rem;
}
#endQuiz {
  display: none;
}
